{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}


{% block body %}
<h1>Connexion sur le site</h1>

<form action="">
<div class="form-group">
    <input type="text" placeholder="Adresse email" required name="_username"> 
</div>
</form>

{% endblock %}
