{% extends 'base.html.twig' %}

{% block title %}
Creation d'un article
{% endblock %}

{% block body %}

<h1>Création d'un article</h1>

{{form_start(formArticle)}}



{{form_end(formArticle)}}

{#
{{ form(formArticle)}}
#}


{% endblock %}

