<h1>{{ title }}</h1>

{% if age > 18 %}
<p> Tu es vieux maintenant</p>
{% else %}
<p> Tu es un petit</p>
{% endif%}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis architecto nobis inventore ipsa magnam, quas aliquam quibusdam modi tempore nostrum pariatur non doloribus aut hic, quaerat mollitia earum nisi ut iste nihil est? Assumenda tempora, eaque minima explicabo distinctio quam.</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis architecto nobis inventore ipsa magnam, quas aliquam quibusdam modi tempore nostrum pariatur non doloribus aut hic, quaerat mollitia earum nisi ut iste nihil est? Assumenda tempora, eaque minima explicabo distinctio quam.</p>
