{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    {% for article in Articles %}
        <article>
            <h2>{{article.title}}</h2>
            <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la categorie Politique</div>
            <div class="content">
                <img src="{{article.image}}" alt="">
                <p>
                {{article.content}}
                </p>
                
                <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}

{% endblock %}
