{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la categorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam dolores nobis corporis nam cum dolorum.</p>
        <p>Maiores, asperiores eius. Quos, cum dolor. Quos dolore ab at in deserunt? Corporis, dolorem reiciendis?</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la categorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, animi! Fuga nihil voluptatum sequi explicabo.</p>
        <p>Impedit vel et reiciendis a, illo dolor nostrum quos qui reprehenderit assumenda, rem, debitis asperiores?</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la categorie Politique</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum molestias, voluptatibus temporibus reiciendis ut doloribus?</p>
        <p>Et veritatis eveniet delectus reiciendis doloremque! Ex voluptates voluptas sequi, consectetur sit magni. Illo, molestias.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>

{% endblock %}
